<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        レシピ一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @recipes.each do |recipe| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to recipe_path(recipe) do %>
                  <%= attachment_image_tag recipe, :image %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media mb-1 is-align-items-center">
                <div class="media-content">
                  <div class="title is-size-5"><%=link_to recipe.title, recipe_path(recipe) %></div>
                </div>
                <div class="content">
                  <% if current_user.already_favorited?(recipe) %>
                    <% favorite = current_user.favorites.find_by(recipe_id: recipe.id) %>
                    <%= link_to recipe_favorite_path(recipe, favorite), method: :delete, class:"p-2" do %>
                      <i class="fa-solid fa-heart"></i>
                      <%= recipe.favorites.count %>
                    <% end %>
                  <% else %>
                    <%= link_to recipe_favorites_path(recipe), method: :post, class:"p-2" do %>
                      <i class="fa-regular fa-heart"></i>
                      <%= recipe.favorites.count %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="content mb-3">
                <time><%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
              <div class="media mb-0 is-align-items-center">
                <div class="media-left">
                  <figure class="image">
                    <%= link_to user_path(recipe.user.id) do %>
                      <%= attachment_image_tag recipe.user, :profile_image, fallback: "no-image.png", class: "recipes_profile_image" %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title is-size-6"><%=link_to recipe.user.username, user_path(recipe.user) %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>